body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}


* {
    margin: 0;
    padding: 0;
}

.header-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), #04ebd4), url(image/beac.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;

}

.header-div {
    position: absolute;
    color: white;
    margin-left: 20%;
    margin-right: 40%;
    margin-top: 10%;

}

h1 {
    font-size: 40px;
}

.link-button {
    position: absolute;
    text-decoration: none;
    background-color: rgb(241, 54, 54);
    color: white;
    padding: 5px 10px;
    margin-top: 3%;
    border-radius: 5px;
}

.link-button:hover {
    background-color: white;
    color: red;
}

.second-section {
    display: flex;
}

.flex-section {
    width: 50%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;


}

.flex-section img {
    width: 100%;

}

.second-flex {
    margin-top: 20%;
    text-align: justify;

}

.third-section {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
}

#back {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5em;
    grid-row-gap: 1em;
    width: 800px;
    height: 400px;
    margin-left: 20%;
    margin-top: 5%;

}

.grid {
    display: flex;

}


.grid {

    background-color: rgb(234, 228, 221);
    padding: 15px;
    border-radius: 10px;
}

.gird-img {
    margin-left: 5%;
    margin-top: 5%;

}

.img-section {
    width: 50%;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;


}

.img-section img {
    width: 100%;
    height: 90%;

}

.extend {
    text-align: center;
    margin: 5% 25%
}

.donate {
    display: flex;

}

.img-collection {
    margin: 20px;
    border: solid 1px gray;
    border-radius: 15px;
    height: 500px;
}

.img-collection img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.img-collection h3 {
    margin-left: 15px;
    margin-top: 30px;
    color: cornflowerblue;
}

.img-collection p {
    margin: 15px;
}

.img-collection a {
    margin-left: 15px;
    color: red;
}

footer {
    background-color: black;
    height: 200px;
    margin-top: 5%;
    color: red;
}

footer h2 {
    text-align: center;
    margin-top: 3%;
    position: absolute;
    margin-left: 40%;
    font-family: 'Lobster', cursive;
}

footer p {
    text-align: center;
    margin-top: 8%;
    margin-left: 45%;
    position: absolute;
    font-weight: 700;
}